# Rename to `.env`

# Stage, e.g., 'development', 'production', etc.
NODE_ENV=<stage>

# Port number for frontend server
PORT=<frontend-port-number>

# For storage server. Replace with third party URL if not using self-hosted server
STORAGE_URL=<protocol>://<host>:<storage-port-number>

# Backend server API
REACT_APP_API_URL=<protocol>://<host>:<backend-port-number>

# For use with enabling the live search
LIVE_SEARCH_ENABLED=<boolean>