# Rename to `.env` after properly populating

# Stage, e.g., 'development', 'production', etc.
NODE_ENV=<stage>

# Port number for backend server API
PORT=<backend-port-number>

# Port number for backend server API
REACT_APP_API_URL=<protocol>://<host>:<backend-port-number>

# For MongoDB
MONGO_URI=mongodb://<host>:<mongodb-port-number>/<database>

# For JSON Web Token
JWT_SECRET=<jwt-secret>



# OPTIONAL: For self-hosted storage port
STORAGE_PORT=<port-for-storage-server>

# Booleans for testing
USER_PW_IS_UPDATABLE=<boolean>
ENABLE_ISADMIN_FOR_OWNER_ONLY=<boolean>

# For GitHub OAuth
GITHUB_CLIENT_ID=<github-client-id>
GITHUB_CLIENT_SECRET=<github-client-secret>
OWNER_GITHUB_ID=<github-id>
OWNER_GITHUB_EMAIL=<handle>@<domain-name>
GITHUB_AUTH_URL="<github-auth-url>"

# For Swagger portal
PRESET_SWAGGER_BEARER_AUTH=<boolean>
SWAGGER_EMAIL="<handle>@<domain-name>"
SWAGGER_PASSWORD=<swagger-password>
SWAGGER_LOGIN_ENDPOINT="<protocol>://<host>:<port>/<endpoint>"