@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fadeInCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-card {
  animation: fadeInCard 0.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.25;
  }
  0% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}
