/* frontend/src/components/blog/blog.css */

/* Blog Posts */

#blog-post-metadata-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#blog-post-metadata-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


#blog-post-metadata-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 12px;
  
}

/* Disable default where display: block for every div. */
div.blog-div {
  display: unset;
}

@media (min-width: 768px) {
  .blog-toc {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
  }
}

.blog-toc {
  display: none;
}

.blog-p, .blog-ul, .blog-li, .blog-anchor {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
}

/* Main content styles */

@media (min-width: 320px) {
  .blog-post {
    font-family: 'Open Sans', sans-serif;
    margin-left: 220px; /* leave space for the sidebar */
    padding-bottom: 400px;
    max-width: 800px;
    margin-right: 5px;
    display: block;
  }
}

.blog-post {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - 10px); /* Adjust the max-width to accommodate the left and right margins */
  margin: 0 auto;
}

blockquote.blog-blockquote {
  background-color: transparent;
  border: 0px solid;
  border-color: #424346 !important;
  border-left-width: 2px !important;
  border-radius: 0px;
  color: black;
  font-family: inherit;
  font-style: inherit;
  line-height: 1.25em;
  margin: 0 10px;
  padding: 12px 0 0.1px 12.5px
}

blockquote.blog-blockquote > p.blog-p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 18px !important;
}
blockquote.blog-blockquote > span > div > pre > code.language-code-string > span {
  font-size: 10px !important;
}

.blog-post > h1, h2, h3, h4, h5, h6 {
  padding-top: 15px;
  padding-bottom: 0px;
}

/* Headers */

h1.blog-h1, h1.blog-h1 > * {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
}

h2.blog-h2, h2.blog-h2 > * {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

h3.blog-h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

h4.blog-h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

h5.blog-h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8em;
}

h6.blog-h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 0.7em;
}

.example-in-action {
  color: #9DB2BD;
  text-decoration: underline;
  text-decoration-color: #9DB2BD;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}

table.blog-table { 
  border: 0.125rem solid black;
  border-collapse: separate;
  border-left: 0;
  border-radius: 4px;
  border-spacing: 0px;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 100%;
}
thead.blog-thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}
tr.blog-tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th.blog-th, td.blog-td {
  padding: 7.5px; 
  text-align: left;
  vertical-align: top;
  border-left: 0.125rem solid black;    
}
td.blog-td {
  border-top: 1px solid black;    
}
th.blog-th:first-child, td.blog-td:first-child {
  border-left: 0.125rem solid black;    
}
thead.blog-thead:first-child tr.blog-tr:first-child th.blog-th:first-child, tbody.blog-tbody:first-child tr.blog-tr:first-child td.blog-td:first-child {
  border-radius: 2px 0 0 0;
}
thead.blog-thead:last-child tr.blog-tr:last-child th.blog-th:first-child, tbody.blog-tbody:last-child tr.blog-tr:last-child td.blog-td:first-child {
  border-radius: 0 0 0px 2px;
}


/* Code Blocks */

/* For any not in a code block */
:not(pre.blog-pre) > div.code {
  display: inline;
}

pre.blog-pre {
  border-radius: 2px 2px 2px 2px;
}

pre.blog-pre:hover {
  border-radius: 2px 2px 2px 2px;
}

pre.blog-pre > div {
  position: relative !important;
}

pre.blog-pre > div > pre {
  background: white !important;
  border: 1px solid #141414 !important;
}

pre.blog-pre > code > span {
  font-family: "Ubuntu Mono", Consolas, Monaco, "Andale Mono", monospace !important;
  font-size: 14px;
}

/* Code Block Copy Buttons */

.code-copy-btn {
  position: absolute !important;
  top: 0.5rem !important;
  right: 0.5rem !important;
  z-index: 1 !important;
  width: 66px;
  transition: background-color 0.3s ease-in-out
}

.code-copy-btn.code-copied {
  background-color: lightgreen !important;
}

.code-copy-btn.code-copied:hover {
  background-color: rgb(134, 221, 134) !important;
  transition: background-color 0.3s ease-in-out
}

.code-copy-btn > span {
  transition: transform 0.2s ease-in-out;
}

.code-copy-btn:hover > span {
  transform: scale(1.1);
}


div.copied-popover {
  font-family: "Ubuntu Mono", Consolas, Monaco, "Andale Mono", monospace !important;
  font-size: 12px !important;
  padding: 10px;
}


.code-copy-btn {
  color: #000000 !important;
  background-color: whitesmoke !important;
  border: none !important;
  font-size: 15px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.code-copy-btn:hover {
  background-color: #DEE0E4 !important;
}

/* Inline code strings */

/* Firefox support via JavaScript */
@supports not (-moz-appearance:none) {
  pre.blog-pre:has(> code.language-code-string), code.language-code-string {
    all: unset !important;
  }
}


div > pre.blog-pre > code.language-code-string > span {
  font-family: "Ubuntu Mono", Consolas, Monaco, "Andale Mono", monospace;
  color: #414141;
  background-color: #EBEAEA;
  font-size: 16px !important;
  padding: 1.75px 3px;
  border-radius: 2px;
}

/* Miscellaneous */

img.blog-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-badge {
  margin-right: 5px;
}

/* Firefox support added to BlogContent.jsx */
@supports not (-moz-appearance: none) {
  a.blog-anchor:has(> sup) {
    text-decoration-line: none !important;
  }
}

a.blog-anchor > sup.blog-sup {
  color: lightslategray;
  position: relative;
}
a.blog-anchor > sup.blog-sup::before {
  content: "｢ "; /* Using U+2009 'Narrow Thin Space' for space before '｣' */
  position: relative;
}
a.blog-anchor > sup.blog-sup::after {
  content: " ｣"; /* Using U+2009 'Narrow Thin Space' for space before '｣' */
  position: relative;
}

footer.blog-footer > div {
  font-size: small;
}

/* List Items */


/* Checkbox Lists */

@supports not (-moz-appearance: none) {
  li.blog-li:has(> input[type='checkbox']) {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    margin-left: -1.30rem;
  }
}

ul.blog-ul > li.blog-li > input[type="checkbox"] {
  appearance: none;
  padding-left: 0px;
  border: 2px solid black;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  margin-right: 10px;
}

ul.blog-ul > li.blog-li > input[type="checkbox"]:checked:after {
  content: '\2714';
  font-size: 12px;
  color: black;
  position: relative;
  /* top: ; */
  left: 2.5px;
  font-family: 'Arial', sans-serif; /* Fallback font */
}

blockquote.blog-blockquote > ul.blog-ul > li.blog-li > input[type="checkbox"]:checked:after {
  top: -4px;
}

/* Scrollbars */

/* For non-Firefox browsers */
@supports not (-moz-appearance: none) {
  pre.blog-pre::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
    background:transparent !important;
  }

  pre.blog-pre::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border: 3.5px solid transparent !important;
    border-radius: 25px !important;
  }

  pre.blog-pre:hover::-webkit-scrollbar-thumb {
    background-color: black !important;
    border: 3.5px solid white !important;
    border-radius: 25px !important;
  }
}

pre.blog-pre {
  scrollbar-width: thin !important;
  scrollbar-color: transparent transparent !important;
}

pre.blog-pre:hover {
  scrollbar-color: black transparent !important;
}

img.blog-img {
  max-width: 100%; /* So images don't overflow */
  height: auto;
}