/* frontend/public/css/index.css */
:root {
  /* Font Family */
  --font-family-default: 'Open Sans', sans-serif;
  --font-family-title: 'Oswald', sans-serif;
  --font-family-home-logo: 'Lato', sans-serif;
  --font-family-card-detail: 'Lato', sans-serif;
  --font-family-portfolio-img-not-found: 'San Francisco', sans-serif;
  --font-family-blog-checkbox-fallback: 'Arial', sans-serif;

  /* Colors */
  --dark-grey: #acabab;
  --scrollbar-thumb-color: #cccccc;
  --search-help-dialog-kbd-btns-bg: #f6f7f9;
  --lightest-gray: whitesmoke;
  --chinese-black: #141414;
  --chinese-red: #cd071e;
  --roll-card-header-color: #9d9c9c;

  --category-tag-bg-color: #878786;
  --tag-font-color: #878786;

  --resume-anchor-color: #365194;

  --active-item-bg-color: #dee0e4;
  --editable-cell-bg-color: #e9edf6; /*Coconut White*/
  --non-editable-cell-bg-color: #f0f0f0; /*Chrysler White*/

  --blog-blockquote-border-color: #424346;
  --blog-example-in-action-color: #9db2bd;

  --blog-pre-copy-success-color: lightgreen;
  --blog-pre-copy-success-hover-color: #86dd86;
  --blog-codeblock-bg-color: #ebeaea;
  --blog-superscript-color: lightslategray;

  /* Scale */

  --scale-home-logo: scale(0.8);
  --scale-home-logo-shrink: scale(0.6);
  --scale-home-logo-800: scale(0.6);
  --scale-home-logo-800-shrink: scale(0.5);
  --cursor-home-logo: zoom-out;

  --scale-footer-items-default: scale(1.1);
  --scale-footer-items-grow: scale(1.5);

  --scale-admin-nav-heading-grow: scale(1.3);

  /* Transitions */

  --transition-transform-quicker: transform 0.3s;
  --transition-transform-slower: transform 0.5s;

  --transition-opacity-quicker: opacity 0.3s;
  --transition-opacity-slower: opacity 0.75s;

  --transition-content-quicker: content 0.3s;

  --transition-border-quicker: border 0.2s;
  --transition-border-slower: border 0.5s;

  --transition-background-color-quicker: background-color 0.3s;
  --transition-background-color-slower: background-color 0.5s;

  --transition-color-slower: color 1s;

  --transition-filter-slower: color 1s;

  --blurred: blur(4px);
  --unblurred: blur(0);
  --blur-transition-params: filter 0.3s ease-in-out;

  /* Content */
  --content-footer-built-with-items: 'built with';
  --content-blog-checkbox-mark: '\2714';
  --content-blog-superscript-before: '｢ ';
  --content-blog-superscript-after: ' ｣';
  --blog-superscript-before-after-position: relative;

  /* Spec & Misc */

  --box-shadow-navbar: 0px 1px 2px 1px rgb(198, 198, 198, 0.5);

  --search-results-menu-height: 300px;

  --margin-center-horizontal: 0 auto;
}

/* Global */
@import './store/css/actions.css';
@import './store/css/global.css';
@import './store/css/searchbar.css';
@import './store/css/navbar.css';
@import './store/css/footer.css';
@import './store/css/error.css';

/* Commonly Shared */
@import './store/css/common.css';

/* Specific */
@import './store/css/blogroll.css';
@import './store/css/portfolio.css';
@import './store/css/about.css';
@import './store/css/resume.css';
@import './store/css/admin.css';

/* @import './blog-posts.css'; -- imported via the Blog Post article page file */
